$red: #d64438;
$grey: #666464;
$black: black;

.container-home {
  text-align: center;
  background-color: $red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.box-buttons {
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.btn-style {
  margin: 0.6em;
  height: 2rem;
  width: 100%;
  border-radius: 0.5rem;
  outline: none;
  background-color: $grey;
  color: white;
  font-size: 0.8em;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
