.main-container {
  min-height: 100vh;
  color: white;
  background-color: $red;
  font-weight: bold;

  & .introduction-sentence {
    margin-top: auto;
    text-align: center;
    background-color: $red;
    color: white;
  }

  & .object-container {
    display: flex;
    width: 80vw;
    padding-top: 2em;
    margin-left: 11em;

    & .object-title,
    .object-place,
    .object-date,
    .object-name {
      width: 30vw;
    }

    & img {
      width: 20%;
      margin-right: 15vw;
    }

    & .delete-button {
      margin-right: 1%;
      height: 2rem;
      width: 10vw;
      border-radius: 0.5rem;
      outline: none;
      background-color: $grey;
      color: white;
      font-size: 0.8em;
      font-weight: 600;
      border: none;
      cursor: pointer;
    }
  }
}
