nav {
  background-color: $grey;
  color: white;

  & .links-box {
    & .session-box {
      display: flex;
      justify-content: space-between;

      & .logo {
        margin-top: 1rem;
        margin-left: 1rem;
        background-color: $grey;
        border-radius: 0.5rem;
        width: 10%;
        height: 65%;
      }

      & .sign-out {
        margin-right: 2em;
        margin-top: 1rem;
        border-radius: 50%;
        background-color: white;
        width: 3%;
        height: 3%;
        cursor: pointer;
      }
    }
  }
}
